<!-- wp:template-part {"slug":"header","theme":"ulrichdigital_block_theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:spacer {"height":"var:preset|spacing|70"} -->
	<div
		style="height: var(--wp--preset--spacing--70)"
		aria-hidden="true"
		class="wp-block-spacer"
	></div>
	<!-- /wp:spacer -->

	<!-- wp:heading {"textAlign":"center","level":1} -->
	<h1 class="wp-block-heading has-text-align-center">Seite nicht gefunden</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">
		Die gewünschte Seite existiert nicht oder wurde verschoben.
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:spacer {"height":"2rem"} -->
	<div style="height: 2rem" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer →

	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button -->
		<div class="wp-block-button">
			<a class="wp-block-button__link wp-element-button" href="/"
				>Zur Startseite</a
			>
		</div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->

	<!-- wp:spacer {"height":"var:preset|spacing|80"} -->
	<div
		style="height: var(--wp--preset--spacing--80)"
		aria-hidden="true"
		class="wp-block-spacer"
	></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ulrichdigital_block_theme","tagName":"footer"} /-->
